@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Color Pallette */

$primary-color: #f1eaea;
$secondary-color: #a3744a;
$dark-color: #262626;
$variant-color: #57704b;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  position: relative;

}

body {
  font-family: 'Montserrat';
  background: $primary-color;
}

img{
  &::selection{
    background-color: $dark-color;
  }
}

br{
  &::selection{
    background-color: $dark-color;
  }
}

b{
  &::selection{
    background-color: $dark-color;
  }
}

p{
  &::selection{
    background-color: $dark-color;
  }
}

h1{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  transition: .3s ease-out;
  &:hover{
    transform: scale(1.05);
  }
}

.app{
}

.nav-bar{
  gap: 2rem;
  width: 100%;
  padding: 30px;
  animation: BlurScaleIn 2s forwards;
  .nav-item{
    width: 170px;
    transition: .2s ease-out;
    cursor: pointer;
    text-align: center;
    color: $dark-color;
    &:hover{
      font-weight: 700;
    }
  }
  &.embeded{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0);
    background-color: $dark-color;
    z-index: 2;
    animation: MoveDownIn .3s forwards;
    .nav-item{
      color: $primary-color;
    }
  }
  &.transition{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0);
    background-color: $secondary-color;
    z-index: 2;
    animation: MoveUpOut .3s forwards;
  }
  @media (max-width: 600px) {
    display: none !important;
    opacity: 0;
  }
}

.menu{
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0;
  display: none;
  justify-content: flex-start;
  background-color: $dark-color;
  color: $primary-color;
  width: 100%;
  height: 60px;
  z-index: 10;
  transition: .4s ease-out;
  .center{
    position: fixed;
    margin-left: 40px;
    gap: 0.5rem;
    cursor: pointer;
    opacity: 1;
    transition: .4s ease-out;
  }
  .menu-items{
    position: absolute;
    transform: translateY(-150%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 100px 70px;
    width: 100%;
    height: 100%;
    opacity: 0;
    gap: 2rem;
    transition: .3s ease-out;
    .menu-item{
      font-weight: 700;
      cursor: pointer;
      transition: .3s ease-out;
      a{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 25px;
        .icon-container{
          width: 40px;
        }
      }
      &:hover{
        transform: scale(1.05);
      }
    }
  }
  .close{
    position: absolute;
    right: 0;
    top: 0;
    margin: 40px;
    cursor: pointer;
    transition: .3s ease-out;
    opacity: 0;
    z-index: 11;
    .icon{
      transform: scale(2);
    }
    &:hover{
      transform: scale(1.1);
    }
  }
  &.active{
    .center{
      opacity: 0;
    }
    .close{
      opacity: 1;
    }
    .menu-items{
      opacity: 1;
      transform: translateY(-50px);
    }
    height: 100vh;
  }
  @media (max-width: 600px) {
    display: flex;
  }
}

/* First Section */


.first-sec{
  height: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  transition: .3s ease-out all;
  .logo-warp{
    height: 250px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    animation: BlurScaleIn 2s forwards;
  }
  .main-render{
    width: 100%;
    height: fit-content;
    position: relative;
    overflow: hidden;
    .slider-nav{
      position: absolute;
      z-index: 10;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      background-color: rgba($color: #dbdbdb04, $alpha: 0.5);
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      cursor: pointer;
      &.left{
        left: 40px;
      }
      &.rigth{
        left: calc(100% - 40px);
      }
      transition: .3s ease-out;
      &:hover{
        background-color: $dark-color;
        color: $primary-color;
      }
    }
    .main-slider{
      width: 100%;
      height: 100%;
      .slidy-container{
        display: flex;
        transition: .5s ease-out;
        .slidy{
          width: 100%;
          height: auto;
        }
      }
    }
  }
    
  @media (max-width: 600px) {
    height: fit-content;
    .logo-warp{
      gap: 0.8rem;
      height: 150px;
      margin-top: 100px;
      padding-bottom: 0;
      img{
        width: 140px;
        height: auto;
      }
    }
    .main-render{
      .slidy{
        width: 100%;
        height: auto !important;
      }
    }
  }
}

.second-sec{
  height: 600px;
  width: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  p{
    color: $secondary-color;
    font-size: 25px;
    &::selection{
      background-color: $dark-color;
    }
  }
  @media (max-width:990px) {
    padding: 100px 40px;
  }
  @media (max-width: 600px) {
    height: 300px;
    .sm-logo{
      width: 80px;
      height: auto;
    }
    p{
      font-size: 16px;
    }
  }
}

.third-sec{
  background-color: $dark-color;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  .txt-warp{
    width: 37%;
    padding: 20px 100px;
    p{
      left: 100px;
      position: absolute;
      color: white;
      font-weight:600;
      font-size: 61px;
      opacity: 0;
      transition: .3s ease-out;
      &.active{
        opacity: 1;
      }
      &::selection{
        background-color: $primary-color;
      }
    }
  }
  .img-slider{
    width: 63%;
    height: 100%;
    display: flex;
    flex-direction: row;
    .img-sli{
      width: 15%;
      overflow: hidden;
      transition: .3s ease-out;
      position: relative;
      img{
        opacity: 0.5;
      }
      .icon-click{
        position: absolute;
        z-index: 1;
        color: $primary-color;
        font-size: 12px;
        font-weight: 500;
      }
      &.active{
        width: 70%;
        img{
          opacity: 1;
        }
        .icon-click{
          opacity: 0;
        }
      }
    }
  }
  @media (max-width: 990px) {
    height: 570px;
    flex-direction: column;
    .txt-warp{
      position: relative;
      width: 100%;
      height: 220px;
      padding: 40px 40px;
      p{
        left: 40px;
        top: 40px;
        font-size: 40px;
      }
    }
    .img-slider{
      width: 100%;
      height: 350px;
      .img-sli{
        img{
          height: 100%;
          width: auto;
        }
      }
    }
  }
  @media (max-width: 600px) {
    height: 420px;
    .img-slider{
      height: 200px;
    }
  }
}

.fourth-sec{
  width: 100%;
  height: 550px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  .bg-texture{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    img{
      width: auto;
      height: 550px;
    }
  }
  h1{
    color: $secondary-color;
    font-size: 60px;
    font-weight: 600;
    &::selection{
      background-color: $dark-color;
    }
  }
  @media (max-width: 990px) {
    height: 280px;
    padding: 100px 40px;
    h1{
      font-size: 40px;
    }
    .bg-texture{
      img{
        height: 280px;
      }
    }
  }
  @media (max-width: 600px) {
    height: 200px;
    h1{
      font-size: 23px;
    }
    .bg-texture{
      img{
        height: 200px;
      }
    }
  }
}

.fifth-sec{
  height: fit-content;
  width: 100%;
  .card{
    height: 560px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .text-warp{
      width: 45%;
      height: 100%;
      padding: 20px 20px 20px 100px;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      justify-content: center;
      p{
        font-size: 22px;
        font-weight: 200;
      }
    }
    .img-warp{
      width: 55%;
      height: 100%;
      overflow: hidden;
    }
  }
  @media (max-width: 990px) {
    .card{
      flex-direction: column;
      height: fit-content;
      justify-content: flex-start;
      .text-warp{
        width: 100%;
        height: 380px;
        padding: 40px 40px;
        justify-content: flex-start;
        p{
          font-size: 15px
        }
      }
      .img-warp{
        height: fit-content;
        width: 100%;
        img{
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.sixth-sec{
  width: 100%;
  height: fit-content;
  padding: 100px;
  .header-warp{
    display: flex;
    flex-direction: row;
    color: $secondary-color;
    justify-content: space-between;
    margin-bottom: 100px;
    h1{
      font-size: 60px;
    }
    .price-warp{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      span{
        font-size: 30px;
      }
      h1{
        font-size: 80px;
      }
    }
  }
  .info-deps{
    border-top: solid 1px $secondary-color;
    padding-top: 20px;
    margin-bottom: 50px;
    .tit-info{
      margin-bottom: 30px;
      span{
        color: $secondary-color;
        font-size: 19px;
      }
    }
    .deps-link{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .deps-col{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 2rem;
        a{
          display: flex;
          justify-content: center;
          align-items: center;
          color: $secondary-color;
          font-size: 17px;
          font-weight: 600;
          position: relative;
          height: 180px;
          width: 200px;
          overflow: hidden;
          span{
            transition: .3s ease-out;
          }
          img{
            transition: .3s ease-out;
            position: absolute;
            z-index: -1;
            opacity: 0.2;
          }
          &:hover{
            span{
              opacity: 0;
            }
            img{
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .body-warp{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    .img{
      overflow: hidden;
      position: relative;
      transition: .4s ease-out all;
      background-color: $dark-color;
      span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        font-weight: 700;
        color: $primary-color;
        cursor: default;
        opacity: 0;
        transition: .4s ease-out all;
        z-index: 1;
        text-align: center;
      }
      img{
        transition: .4s ease-out all;
      }
      &:hover{
        cursor: pointer;
        span{
          opacity: 1;
        }
        img{
          opacity: 0.5;
        }
      }
    }
    .img-warp{
      display: flex;
      flex-direction: column;
      gap: 0;
      overflow: hidden;
    }
  }
  .dossier-link{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    a{
      color: $secondary-color;
      gap: 1rem;
    }
  }
  @media (max-width: 990px) {
    padding: 100px 40px;
    .header-warp{
      h1{
        font-size: 40px;
      }
    }
    .body-warp{
      flex-direction: column;
      .img{
        #dep1, #dep2, #dep3{
          width: 100%;
          height: auto;
        }
      }
    }
    .info-deps{
      .deps-link{
        justify-content: space-between;
        display: flex;
        justify-content: center;
        align-items: center;
        .deps-col{
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
  @media (max-width:720px) {
    .header-warp{
      gap: 1rem;
      margin-bottom: 50px;
      h1{
        font-size: 20px;
      }
      .price-warp{
        h1{
          font-size: 24px;
        }
        span{
          font-size: 20px;
        }
      }
    }
    .info-deps{
      .deps-link{
        justify-content: space-between;
        display: flex;
        justify-content: center;
        align-items: center;
        .deps-col{
          grid-template-columns: repeat(2, 1fr);
          a{
            width: 150px;
            height: 120px;
            font-size: 12px;
          }
          img{
            width: 150px;
            height: auto;
          }
        }
      }
    }
  }
}

.seventh-sec{
  height: fit-content;
  background-color: white;
  padding: 100px;
  .content-warp{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    .info-sec{
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      flex-direction: column;
      gap: 2rem;
      width: 40%;
      .text-warp{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        h1{
          font-size: 30px;
        }
        p{
          font-size: 20px;
          font-weight: 200;
          b{
            font-style: italic;
          }
        }
      }
      .logos-warp{
        display: flex;
        flex-direction: row;
        gap: 2rem;
      }
      .link-warp{
        display: flex;
        justify-content: flex-start;
        a{
          color: $dark-color;
          gap: 1rem;
        }
      }
    }
    .img-sec{
      overflow: hidden;
      width: 60%;
      img{
        width: 100%;
        height: auto;
      }
      .names-warp{
        cursor: default;
        gap: 2rem;
        font-size: 12px;
        margin-top: 1rem;
      }
    }
  }
  @media (max-width:850px) {
    padding: 100px 40px;
    .content-warp{
      flex-direction: column;
      .info-sec{
        width: 100%;
        .text-warp{
          h1{
            font-size: 20px;
          }
          p{
            font-size: 14px;
          }
        }
        .logos-warp{
          img{
            height: 50px;
            width: auto;
          }
        }
        .link-warp{
          font-size: 15px;
        }
      }
      .img-sec{
        width: 100%;
        .names-warp{
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }
      }
    }
  }
  @media (max-width: 1250px) {
    .logos-warp{
      img{
        height: 50px;
        width: auto;
      }
    }
  }
}

.eigth-sec{
  background-color: $dark-color;
  width: 100%;
  padding: 100px;
  height: fit-content;
  .header-logos{
    justify-content: space-between;
    img{
      fill: $primary-color;
    }
  }
  .body-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .col{
      margin-top: 100px;
      gap: 1rem;
      display: flex;
      flex-direction: column;
      color: $primary-color;
      font-weight: 700;
      h1{
        margin-bottom: 10px;
      }
      span{
        a{
          justify-content: flex-start;
          gap: 1rem;
          color: $primary-color;
          font-weight: 700;
        }
      }
    }
  }
  @media (max-width: 750px) {
    padding: 100px 40px;
    .header-logos{
      img{
        height: 40px;
        width: auto;
      }
    }
    .body-contact{
      flex-direction: column;
      h1{
        font-size: 20px;
      }
      span{
        font-size: 15px;
      }
    }
  }
}

/* Common Clases */

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary{
  background-color: $secondary-color;
  color: white;
}

.variant{
  background-color: $variant-color;
  color: white;
}

.dark{
  background-color: $dark-color;
  color: white;
}

.light-txt{
  font-weight: 200;
}

/* Animations */

@keyframes BlurScaleIn {
  0%{
    filter: blur(15px);
    opacity: 0;
  }
  100%{
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes MoveDownIn {
  0%{
    filter: blur(15px);
    transform: translateY(-150px);
  }
  100%{
    filter: blur(0);
    transform: translateY(0);
  }
}

@keyframes MoveUpOut {
  0%{
    filter: blur(15px);
    transform: translateY(0);
  }
  100%{
    filter: blur(0);
    transform: translateY(-150px);
  }
}