@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Color Pallette */

$primary-color: #f1eaea;
$secondary-color: #a3744a;
$dark-color: #262626;
$variant-color: #57704b;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: $primary-color;
}
/* First Section */

.first-sec{
  height: 1586px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .logo-warp{
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 1rem;

  }
}

